<!DOCTYPE html>
<html>
<head>
	<title>Thinkbox Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/application.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<main>
		<header class="site-header">
			<div id="mobileNav" class="mobile-nav">
				<div class="line animate"></div>
				<div class="line animate"></div>
				<div class="line animate"></div>
			</div>
			<div class="top-bar">
				<a href="/" class="logo">
					{% include "assets/img/logo.svg" %}
				</a>
				<div class="menu">
					<nav id="mainNav">
						<a href="#" class="animate">Lifestyle</a>
						<a href="#" class="animate">Products</a>
						<a href="#" class="animate">Contact</a>
					</nav>
					<a href="#" id="searchIcon" class="search-icon animate">
						{% include "assets/img/search.svg" %}
					</a>
					<form id="searchForm" class="search-form animate" method="get" action="">
						<div class="search-form-layout">
							<input type="text" id="term" name="term" placeholder="Search">
							<button type="submit">
								{% include "assets/img/search.svg" %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</header>
		<section class="site-content">
			<article class="welcome" style="background-image:url(assets/img/cliffs.png);">
				<div class="welcome-text rellax" data-rellax-speed="2">
					<h2>Welcome to the</h2>
					<h1>Great Lake State</h1>
				</div>
				<div class="welcome-video">
					<a id="welcomeVideo" class="welcome-video-play lightbox" data-lb="welcomeVideoEmbed" href="https://youtu.be/U4pMQv46vz4">
						<p class="welcome-video-text text-rotate animate">Watch a dope video</p>
						<div class="welcome-video-icon animate">
							{% include "assets/img/play.svg" %}
						</div>
					</a>
					<iframe id="welcomeVideoEmbed" src="https://www.youtube.com/embed/U4pMQv46vz4" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="welcome-help">
					<a href="#" class="welcome-help-text text-rotate animate lightbox" data-lb="welcomeHelp">Need help? Click here</a>
					<div id="welcomeHelp" class="welcome-help-display">
						<h2>Who is TNC?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<h2>Why are we awesome?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
				</div>
				<div class="green-box rellax" data-rellax-speed="-2"></div>
			</article>
			<article class="content">
				<img src="assets/img/forest-river.png" class="content-left-bg" data-aos="fade-right" data-aos-offset="250" data-aos-duration="700">
				<div class="content-container">
					<p class="content-callout text-rotate">The North Coast</p>
					<div class="content-text">
						<h2>Peace. Love. Michigan.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lorem eu nulla imperdiet tempus.</p>
						<a href="#" class="tnc-button" data-aos="fade-up" data-aos-offset="100" data-aos-duration="500">Learn More</a>
					</div>
				</div>
				<img src="assets/img/welcome-michigan.png" class="content-graphic rellax" data-rellax-speed="2">
				<img src="assets/img/campfire.png" class="content-right-bg" data-aos="fade-left" data-aos-offset="250" data-aos-duration="700">
			</article>
			<article class="slider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url(assets/img/bridge.png);"></div>
						<div class="swiper-slide" style="background-image:url(assets/img/bridge.png);"></div>
						<div class="swiper-slide" style="background-image:url(assets/img/bridge.png);"></div>
						<div class="swiper-slide" style="background-image:url(assets/img/bridge.png);"></div>
						<div class="swiper-slide" style="background-image:url(assets/img/bridge.png);"></div>
			        </div>
			    </div>
		        <div class="swiper-nav">
					<div class="swiper-pagination"></div>
					<div class="swiper-button next">
						<img class="animate" src="assets/img/arrow.png">
					</div>
					<div class="swiper-button prev">
						<img class="animate" src="assets/img/arrow.png">
					</div>
		        </div>
			    <div class="slider-content">
			    	<img src="assets/img/lighthouse.png" data-aos="fade-left" data-aos-offset="200" data-aos-duration="500">
			    	<div class="slider-text" data-aos="fade-left" data-aos-offset="200" data-aos-duration="500">
			    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			    	</div>
			    </div>
			</article>
			<article class="faqs">
				<div class="faqs-header">
					<p class="text-rotate">Have a question?</p>
					<h2>FAQ's</h2>
				</div>
				<div class="accordion">
					<h2 class="accordion-toggle">Who is TNC?</h2>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lorem eu nulla imperdiet tempus.</p>
					</div>
					<h2 class="accordion-toggle">Why are we awesome?</h2>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lorem eu nulla imperdiet tempus.</p>
					</div>
					<h2 class="accordion-toggle">What do people usually ask about?</h2>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lorem eu nulla imperdiet tempus.</p>
					</div>
				</div>
			</article>
			<article class="feature">
				<div class="feature-images">
					<div class="dark-box rellax" data-rellax-speed="2"></div>
					<img src="assets/img/waterfall-square.png" class="feature-layer-one" data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
					<img src="assets/img/stones.png" class="feature-layer-two" data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
				</div>
				<div class="feature-content">
					<h2>Pure Michigan</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lorem eu nulla imperdiet tempus. Suspendisse vulputate tempus velit eget dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt lorem eu nulla imperdiet tempus.</p>
					<a href="#" class="tnc-button" data-aos="fade-up" data-aos-offset="100" data-aos-duration="500">Learn More</a>
				</div>
			</article>
			<article class="cta">
				<div class="cta-header">
					<p class="text-rotate">Wanna work with us?</p>
				</div>
				<div class="cta-images">
					<div class="cta-back-image rellax" data-rellax-speed="2">
						{% include "assets/img/michigan.svg" %}
					</div>
					<img src="assets/img/path-sunset.png" class="cta-top-image" data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
					<img src="assets/img/waterfall-portrait.png" class="cta-left-image" data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
					<img src="assets/img/beach-kayaks.png" class="cta-right-image" data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
				</div>
				<div class="cta-content">
					<h2>Let's Talk</h2>
					<a href="#" class="tnc-button">Learn More</a>
				</div>
			</article>
			<article class="signup" style="background-image:url(assets/img/forest-fog.png);">
				<div class="signup-input">
					<h3>Stay up to date</h3>
					<form class="signup-form" method="post" action="">
						<input type="text" id="email" name="email" placeholder="Email Signup">
						<button type="submit" class="animate" id="emailSubmit">Submit</button>
					</form>
				</div>
				<div class="signup-contact">
					<h3>Have a question? Call <a href="tel:5551232728">(555) 123-2728</a></h3>
				</div>
			</article>
		</section>
		<aside id="sideMenu" class="side-menu animate"></aside>
		<footer>
			<div class="footer-social">
				<a class="google" href="https://www.google.com" target="_blank">{% include "assets/img/google.svg" %}</a>
				<a class="instagram" href="https://www.instagram.com" target="_blank">{% include "assets/img/instagram.svg" %}</a>
				<a class="facebook" href="https://www.facebook.com" target="_blank">{% include "assets/img/facebook.svg" %}</a>
				<a class="twitter" href="https://www.twitter.com" target="_blank">{% include "assets/img/twitter.svg" %}</a>
				<a class="youtube" href="https://www.youtube.com" target="_blank">{% include "assets/img/youtube.svg" %}</a>
			</div>
			<div class="footer-copyright">
				<p>&copy;2017 TNC. All rights reserved.</p>
			</div>
			<div class="footer-link">
				<a href="#">Sitemap</a>
				<a href="#">Privacy Policy</a>
			</div>
		</footer>
	</main>

	<div class="overlay">
		<div class="overlay-animation-grid">
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
			<div class="overlay-animation"></div>
		</div>
		<div class="lightbox-container">
			<div class="lightbox-content"></div>
		</div>
		<div class="close">
			{% include "assets/img/close.svg" %}
		</div>
	</div>

	<script src="assets/js/vendor/aos.js"></script>
	<script src="assets/js/vendor/rellax.min.js"></script>
	<script src="assets/js/vendor/swiper.jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>