<!DOCTYPE html>
<html>
<head>
	<title>Thinkbox Test</title>
	<link rel="stylesheet" href="assets/css/application.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<main>
		<header>
			<div id="mobileNav" class="mobile-nav">
				<div class="line animate"></div>
				<div class="line animate"></div>
				<div class="line animate"></div>
			</div>
			<div class="top-bar">
				<div class="logo">
					{% include "assets/img/logo.svg" %}
				</div>
				<div class="menu">
					<nav>
						<a href="#">Lifestyle</a>
						<a href="#">Products</a>
						<a href="#">Contact</a>
					</nav>
					<a href="#" class="search-icon">
						{% include "assets/img/search.svg" %}
					</a>
					<form method="get" action="">
						<input type="text" id="term" name="term" placeholder="Search">
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
		</header>
		<section>
			<article>
			<img src="https://68.media.tumblr.com/614e51f45367906c84c74b178a9d5a98/tumblr_om85n0waWL1r2hy3ro1_500.gif">
				<p>This is the initial setup for the Thinkbox test</p>
			</article>
		</section>
		<footer>
			<p>&copy; 2017</p>
		</footer>
	</main>
	<script src="assets/js/vendor/aos.js"></script>
	<script src="assets/js/vendor/rellax.min.js"></script>
	<script src="assets/js/vendor/swiper.jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>