@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700i,|Source+Sans+Pro');

$label: 'Montserrat', sans-serif;
$body: 'Source Sans Pro', sans-serif;

$fontsizeXL: 3em;
$fontsizeL: 2em;
$fontsizeM: 1.5em;
$fontsizeS: 1em;
$fontsizeXS: 0.9em;
$fontsizeMargin: 0.5em;

a{
	color: $secondary;
	text-decoration: none;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

p{
	font-size: $fontsizeS;
	font-family: $body; 
	line-height: 1.2; 
	margin-bottom: $fontsizeM;
}

ul{
	list-style: disc outside;
	margin-left: 1em;
	margin-bottom: $fontsizeMargin;
	font-size: $fontsizeS;
	font-family: $body;
	line-height: 1.2;
	
	li{
	    // padding-left: 1em; 
	    // text-indent: -0.6em;
	    // margin-left: 0.3em;
	}
}

h3{
	font-size: $fontsizeM;
	font-family: $label;
	margin-bottom: $fontsizeMargin;
}

h2{
	font-size: $fontsizeL;
	font-family: $label;
	margin-bottom: $fontsizeMargin;
}

h1{
	font-size: $fontsizeXL;
	font-family: $label;
	margin-bottom: $fontsizeMargin;
}

body{
	letter-spacing: 0.04em;
}

.text-rotate{
	font-family: $label;
	font-size: $fontsizeXS;
	font-weight: 400;
	transform: rotate(-90deg);
	text-transform: uppercase;
	display: block;
}