$breakPoint1: 1200px;
$breakPoint2: 950px;
$breakPoint3: 760px;
$breakPoint4: 420px;

$black: #000;
$white: #FFF;

$primary: #0091FB;
$secondary: #BBDF69;
$tertiary: #1C1D21;

$textPrimary: #1C1D21;
$textSecondary: #A4A4A4;