section.site-content{
	position: relative;
	top: 91px;
	
	.welcome{
		height: calc(90vh - 91px);
		min-height: 400px;
		position: relative;
		margin-bottom: 250px;
		background-position: top right; 
		background-size: 93%; 
		background-repeat: no-repeat;
		
		@include breakpoint($breakPoint1) {
			margin-bottom: 100px;
		}

		@include breakpoint($breakPoint2) {
			height: calc(70vh - 91px);
			margin-bottom: 70px;
		}
		
		@include breakpoint($breakPoint3) {
			height: calc(85vh - 91px);
			background-size: cover;
		}
		
		.welcome-text{
			position: absolute;
			right: 0;
			top: 22vw;
			background-color: rgba(28, 29, 33, 0.8);
			padding: 3px 50px 0 0;
			text-align: right;
			width: 330px; 
			text-transform: uppercase;
			
			@include breakpoint($breakPoint2) {
				top: 18vw;
			}

			@include breakpoint($breakPoint3) {
				top: 45vw;
			}
			
			h1{
				color: $white;
				font-style: italic;
				font-weight: 700;
				font-size: 4.5em;
				line-height: 0.8;
				margin-bottom: 20px;
				z-index: 7; 
				position: relative;   
			}

			h2{
				color: $primary;
				font-weight: 400;
				font-size: 1.6em; 
				position: absolute;
				top: -15px;
				left: -60px;
				z-index: 6; 
			}
		}

		.welcome-video{
			position: absolute;
			right: 380px;
			top: 30vw;
			
			@include breakpoint($breakPoint1) {
				top: 30vw;
			}

			@include breakpoint($breakPoint3) {
				top: auto;
				right: auto;
				left: 15px;
				bottom: 15px; 
			}
			
			.welcome-video-play{
				display: flex;
				align-items: center;
				padding-bottom: 200px; 
				
				&:hover{
					.welcome-video-text{
						transform: rotate(0deg) translate(0, 50px);
					}

					.welcome-video-icon{
						transform: translate(0, 50px); 
					}
				}

				@include breakpoint($breakPoint1) {
					padding-bottom: 20px;
					
					&:hover{
						.welcome-video-text{
							transform: translate(10px, 0);
						}

						.welcome-video-icon{
							transform: translate(10px, 0); 
						}
					}
				}

				.welcome-video-icon{
					width: 50px;
					
					@include breakpoint($breakPoint3) {
						width: 35px;
					}
					
					.circle,.circle2{
						fill: none;
					}

					.circle{
						stroke: $secondary;
						stroke-width: 1.5px;
					}

					.triangle{
						fill: $secondary;
					}

					.circle1{
						stroke: none;
					}
				}

				.welcome-video-text{
					margin: 0 20px 0 0; 
					transform-origin: 129% 50%;
					color: $secondary;
					
					@include breakpoint($breakPoint1) {
						margin: 0 10px 0 0; 
						transform: rotate(0deg);
					}
				}
			}
			iframe{
				display: none;
			}
		}

		.welcome-help{
			position: absolute;
			left: 3.5%;
			top: 55%;
			
			@include breakpoint($breakPoint1) {
				top: 40%;
			}
			
			@include breakpoint($breakPoint3) {
				top: auto;
				left: 15px;
				bottom: 80px; 
			}
			
			.welcome-help-text{
				transform-origin: 0;
				color: $textSecondary; 
				padding: 15px 30px;
				
				&:hover{
					transform: rotate(-90deg) translate(10px, 0);
					color: $primary; 
				}

				@include breakpoint($breakPoint3) {
					transform: rotate(0deg);
					color: $white; 
					padding: 15px 0;
					
					&:hover{
						transform: translate(10px, 0); 
					}
				}
			}

			.welcome-help-display{
				display: none;
			}
		}

		.green-box{
			background-color: $secondary;
			height: 270px;
			width: 46%;
			position: absolute;
			left: 0;
			top: 30vw;
			z-index: -1;
			
			@include breakpoint($breakPoint1) {
				height: 230px;
			}

			@include breakpoint($breakPoint2) {
				height: 200px;
			}

			@include breakpoint($breakPoint3) {
				display: none;
			}
		}
	}

	.content{
		position: relative;
		margin-bottom: 200px;
		display: flex;
		justify-content: center;
		
		@include breakpoint($breakPoint2) {
			justify-content: flex-start;
		}
		
		.content-left-bg{
			position: absolute;
			bottom: 0;
			left: -12%;
			height: 80%;
			width: auto;
			
			@include breakpoint($breakPoint2) {
				bottom: auto;
				left: auto;
				top: 0;
				right: 0;
				height: 49%;
			}

			@include breakpoint($breakPoint3) {
				display: none;
			}
		}

		.content-container{
			position: relative;
			width: 40%;
			padding: 130px 70px;
			background-color: $white;
			z-index: 6;
			
			@include breakpoint($breakPoint1) {
				padding: 120px 50px;
			}

			@include breakpoint($breakPoint2) {
				width: 60%;
				padding: 100px 50px;
			}

			@include breakpoint($breakPoint3) {
				width: 100%; 
				padding: 70px 40px;
			}

			.content-callout{
				position: absolute;
				top: 90px;
				left: 80px;
				color: $textSecondary;
				z-index: 7;
				transform-origin: 0;
				
				@include breakpoint($breakPoint1) {
					left: 65px;
				}

				@include breakpoint($breakPoint2) {
					transform: rotate(0deg);
					top: 40px;
					left: 50px; 
				}
			}

			.content-text{

				h2{
					color: $primary;
					font-style: italic;
					font-weight: 700;
					font-size: 3.5em;
					line-height: 1;
					margin-bottom: 45px;
					text-transform: uppercase;
				}

				p{
					margin-bottom: 65px; 
					line-height: 1.7; 
					
					@include breakpoint($breakPoint1) {
						margin-bottom: 40px;
					}
				}

				.tnc-button{
					
				}
			}
		}

		.content-graphic{
			position: absolute;
			bottom: 50%;
			right: 15%;
			height: auto;
			width: 200px;
			z-index: 7;
			
			@include breakpoint($breakPoint1) {
				bottom: 55%;
			}

			@include breakpoint($breakPoint2) {
				right: 19%;
			}

			@include breakpoint($breakPoint3) {
				display: none;
			}
		}

		.content-right-bg{
			position: absolute;
			top: 0;
			right: -10%;
			height: 65%;
			width: auto;
			z-index: 4;
			
			@include breakpoint($breakPoint2) {
				bottom: 0;
				left: auto;
				top: auto;
				right: 0;
				height: 49%;
			}

			@include breakpoint($breakPoint3) {
				display: none;
			}
		}
	}

	.slider{
		position: relative;
		margin-bottom: 200px;
		 
		.swiper-container {
			width: 100%;
			height: 70vh;
			position: relative;
			
			.swiper-wrapper{
				
				.swiper-slide {
					background-position: center center; 
					background-size: cover; 
					background-repeat: no-repeat;
				}
			}
		}

		.swiper-nav{
			position: absolute;
			left: 0;
			bottom: -20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 120px;
			z-index: 9;  
			
			.swiper-pagination{
				width: 100%; 
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 15px 0;
				position: static;
				
				.swiper-pagination-bullet{
					background: transparent; 
					border: 1.5px solid $white; 
					margin-bottom: 7px;
					opacity: 1;
					width: 11px;
					height: 11px;
					
					&.swiper-pagination-bullet-active{
						background: $primary;
						border-color: $primary;  
					} 
				}
			}

			.swiper-button{
				width: 50%;
				background-color: $textSecondary; 
				display: flex;
				align-items: center;
				padding: 10px;
				cursor: pointer;
				
				&:hover{
					background-color: $primary; 
				}
				
				&.next{
					justify-content: flex-end;
					
					&:hover{
						
						img{
							transform: translate(-10px, 0);
						}
					}
				}

				&.prev{
					justify-content: flex-start;
					
					img{
						transform: rotate(180deg);
					}

					&:hover{
						
						img{
							transform: translate(10px, 0) rotate(180deg);
						}
					}
				} 
			}
		}

		.slider-content{
			position: absolute;
			right: 10%;
			bottom: -20px;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			height: 50vh;
			width: 80vh;
			z-index: 8;
			
			@include breakpoint($breakPoint2) {
				width: 70vh;
				height: 30vh;  
				right: 5%;
				align-items: flex-end;
			}

			@include breakpoint($breakPoint3) {
				right: auto;
				bottom: auto;
				top: -20px;
				left: 0;
				flex-direction: row;
				align-items: center; 
				width: 60vh;
				height: 30vh;
			} 
			
			img{
				width: 50%;
				height: auto;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

				@include breakpoint($breakPoint2) {
					width: 40%; 
				}
			}

			.slider-text{
				background-color: $primary;
				padding: 30px;
				color: $white;
				position: relative;
				right: -30px;
				width: 50%;
				
				@include breakpoint($breakPoint2) {
					padding: 20px; 
					bottom: -20px;
					width: 60%;
					right: -40px; 
				}

				@include breakpoint($breakPoint3) {
					right: auto;
					bottom: auto;
					left: -20px;
				} 
				
				p{
					margin-bottom: 0;
					line-height: 1.7;
				}  
			}
		}
	}
}